{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'img/ja.JPG' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Hi, It's me, Klaudia.</h2><p>Not ready to write sth more yet ;)</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}