{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

{% for painting in paintings_data.all %}

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
      <div class="p-3">
        <img class="img-fluid shadow-lg p-3 mb-5 bg-white rounded" src={{ painting.image.url }} alt="">
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="p-5">
        <h1 class="display-4"><strong>{{ painting.title }}</strong></h1>
        <small><em>{{ painting.details }}</em></small>
        <p>{{ painting.description }}</p>
        <footer class=" text-right blockquote-footer">Created <cite>{{ painting.create_date }}</cite></footer>
      </div>
    </div>
  </div>
</div>

{% endfor %}


<div class="container">
<!--<div class="row justify-content-md-center">-->
    <div class="card mb-2 wow fadeIn">
          {% with current_comments.count as total_comments %}
      <h> {{total_comments }} comment {{total_comments|pluralize }}</h>
      {% endwith %}
    {% for comment in current_comments.all %}
      <div>
        <p class="info">Comment by {{comment.name }} {{ comment.created }}</p>
        {{ comment.body|linebreaks }}
      </div>
    {% empty %}
      <p>
      There are o comments yet.
      </p>
    {% endfor %}
  </div>
<!--</div>-->
  <div class="row justify-content-lg-center">
  <div class="card mb-2 wow fadeIn">
      <div class="card-header font-weight-bold">Leave a comment</div>
      <div class="card-body">
          <form action="{% url 'comments' %}" method="post">
            {% csrf_token %}
            {% for field in comment_form %}
            <div class="form-group {%if field.errors %}alert alert-danger{%endif%}">


              {{ field.label_tag }}
              {% render_field field class="form-control" %}

            </div>
            {% endfor %}

            <div class="text-center mt-4">
              <input type="submit" value="Post">
                <!--<button class="btn btn-info btn-md" type="submit">Post</button>-->
            </div>
          </form>
      </div>
  </div>
  </div>

</div>

{% endblock %}

