{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

{% for painting in paintings_data.all %}

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
      <div class="p-3">
        <img class="img-fluid shadow-lg p-3 mb-5 bg-white rounded" src={{ painting.image.url }} alt="">
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="p-5">
        <h1 class="display-4"><strong>{{ painting.title }}</strong></h1>
        <small><em>{{ painting.details }}</em></small>
        <p>{{ painting.description }}</p>
        <footer class=" text-right blockquote-footer">Created <cite>{{ painting.create_date }}</cite></footer>
      </div>
    </div>
  </div>
</div>

{% endfor %}


<!--comments-->

<div class="container comments-group">
    <div class="row text-right">
         <div class="col align-self-end">
        {% with current_comments.count as total_comments %}
            <h class="text-right"> {{total_comments }} comment{{total_comments|pluralize }}</h>
        {% endwith %}
         </div>
    </div>
        {% for comment in current_comments.all %}
    <div class="row">
            <div class="col"><p class="info"><strong>{{comment.name }}</strong></p></div>
            <div class="col text-right"><p><small>{{comment.created }}</small></p></div>
    </div>
    <div class="row">
        <small>{{comment.body }}</small>
    </div>
    {% empty %}
      <p>
      There are no comments yet.
      </p>
    {% endfor %}


    <div class="row justify-content-md-center comments-form">
        <div class="card col-sm-10 wow fadeIn ">
            <div class="card-header font-weight-bold">Leave a comment</div>
            <div class="card-body">
              <form action="{% url 'paintings' %}" method="post">
                {% csrf_token %}
                {% for field in comment_form %}
                <div class="form-group {%if field.errors %}alert alert-danger{%endif%}">

                  {{ field.label_tag }}
                  {% render_field field class="form-control" %}

                </div>
                {% endfor %}
                <div class="text-center mt-4">
                  <input type="submit" value="Post">
                </div>
              </form>
            </div>
      </div>
    </div>


</div>


{% endblock %}

