{% extends "base.html" %}

{% block content %}

{% if questions %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
    <form action="{% url 'vote' %}" method="post" class="text-left">
        {% csrf_token %}
        {% for question in questions.all %}
            <div>
                <p class="m-2"><strong>{{ question.question_text }}</strong></p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div>
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="{{ question.id }}" id="choice_{{ question.id }}_{{ forloop.counter }}" value="{{ choice.id }}" multiple required>
                    <small><label for="choice_{{ question.id }}_{{ forloop.counter }}">{{ choice.choice_text }}</label></small><br>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="Send">
    </form>
    </div>
</div>
  </div>


{% else %}
    <p>No forms are available.</p>
{% endif %}

{% endblock %}